.list-group {
    --bs-list-group-border-color: none;
}

.card {
    box-shadow: 1px 1px 1px 1px;
}

.btn-close {
    display: none;
}

.one-task:hover button {
    display: block;
}

#tasksLeft {
    color: lightslategray;
    font-style: italic;
    font-size: small;
}